@charset "UTF-8";
* {
  font-family: "MS 明朝",serif;
  background-color: #D8D8D8;
}
.header h1 {
  color:

}
.header a {
  text-decoration: none;
  color: black;
}
.header p {
  font-size: 18px;
}
a:hover {
  color: #0080FF  ;
}
.main ul a {
  text-decoration: none;
}
}
